.card {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  background-color: #6b2a25;
}
.title {
  margin: 0 0 10px 0;
}

h1 {
  margin: 0 0 10px 0;
}
