.show_btn {
  margin: 20px 0 20px 0;
}
.input_wrap {
  margin: 30px 0 0 0;
}

.label_disc {
  max-width: 100px;
  width: 100%;
}

input {
  width: 80%;
  margin: 0 0 15px 0;
  height: 30px;
}
span {
  margin: 0 0 0 15px;
}

span:hover {
  cursor: pointer;
}
.input__password {
  width: 250px;
}
